{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"arrowParens": "always",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"endOfLine": "lf",
	"semi": true,
	"printWidth": 1000
}
